input[type='file']::file-selector-button {
    background-color: rgba(0, 145, 255, 1);
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

input[type='file'] {
    /* background-color: rebeccapurple; */
    border-style: dashed;
    border-width: 2px;
    width: 100%;
}